<div class="navbar-inner">
  <div class="container">
    <%= link_to "Kiv7", root_path, :class => "brand" %>
    <ul class="nav pull-right">
      <li>
        <%= link_to "Login", new_sessions_path %>
      </li>
      <li>
        <%= link_to "Signup", new_users_path %>
      </li>
    </ul>
  </div>
</div>