<div class="navbar-inner">
  <div class="container">
    <%= link_to "Kiv7", root_path, :class => "brand" %>
    <ul class="nav">
      <li>
        <%= link_to "Lists", lists_path %>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <%= link_to "Logout (#{warden.user.username})", sessions_path, :method => :delete %>
      </li>
    </ul>
  </div>
</div>