<!DOCTYPE html>
<html>
<head>
  <title>Kiv7</title>
  <%= stylesheet_link_tag    "application", "root", :media => "all" %>
  <%= javascript_include_tag "application", "api", "root" %>
  
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
