<div id="lists-view">
  <div class="page-header">
    <h1>
      <%= t '.list.name' %>
      <small>
        <span data-bind="visible: incompleteTasks().length > 0">
          <% case I18n.locale %>
          <% when :en %>
            has <span data-bind="text: incompleteTasks().length"></span> <span data-bind="text: incompleteTasks().length == 1 ? 'task' : 'tasks'"></span> left
          <% when :fr %>
            a <span data-bind="text: incompleteTasks().length"></span> <span data-bind="text: incompleteTasks().length == 1 ? 'tâche  à gauche' : 'tâches laissées'"></span>
          <% when :jp %>
            には　<span data-bind="text: incompleteTasks().length"></span>　タスクがあります
          <% end %>
        </span>
        
        <span data-bind="visible: incompleteTasks().length == 0"><%= t '.list.is_complete' %></span>
      </small>
    </h1>
  </div>

  <div class="control-group">
    <form id="new-task" data-bind="submit: createTask">
      <span class="input-prepend">
        <a href="#" class="add-on btn" data-bind="click: createTask"><i class="icon-plus"></i></a>
        <a href="#" class="add-on btn" data-bind="click: function() { newTask.name(''); }"><i class="icon-repeat"></i></a>
      
        <div class="control-group">
          <input class="span11" data-bind="value: newTask.name" placeholder="<%= t '.new_task.placeholder' %>" />
        </div>
      </span>
    </form>
  </div>

  <div id="tasks" class="control-group" data-bind="foreach: tasks">
    <span class="input-prepend">
      <a href="#" class="add-on btn" data-bind="click: $root.toggleTask"><i data-bind="star: done"></i></a>
    
      <a href="#" class="add-on btn" data-bind="click: $root.destroyTask"><i class="icon-remove"></i></a>
    
      <div class="control-group" data-bind="valid: name.isValid">
        <input class="name span11" placeholder="<%= t '.task.placeholder' %>" data-bind="value: name, disable: done, event: { change: $root.updateTask }" />
      </div>
    </span>
  </div>
</div>

<% content_for :bindings do %>
  ko.applyBindings(Root.listsViewModel = new Root.ListsViewModel(), ko.element("lists-view"));
<% end %>
