<div class="page-header">
  <h1>
    Stats <small>are coming soon</small>
  </h1>
</div>


<script type="text/javascript">
  $(function() {
    ko.applyBindings(ko.currentViewModel = new Admin.StatsViewModel());
  });
</script>