<div class="page-header">
  <h1>
    Stats <small>are pretty cool</small>
  </h1>
</div>

<ul data-bind="template: { name: 'taskList' }"></ul>

<script type="text/html" id="taskList">
  <@ _.each(stats(), function(stat) { @>
    <li><i data-bind="css: { 'icon-ok': stat.up, 'icon-remove': !stat.up }"></i> <span><@= stat.day @></span></li>
  <@ }) @>
</script>

<script type="text/javascript">
  $(function() {
    ko.applyBindings(ko.currentViewModel = new Admin.StatsViewModel());
  });
</script>